body{
  margin: 0;
  padding: 0;
}
.header{
  background-color:#25698c; 
  color:white;
min-height: 100px;
}
.header h1{
  float: left;
  font-size: 25px;
  padding-top: 25px;
  
}
.header h2{
  float: right;
  font-size: 18px;
  padding-top: 29px;
}
.container-fluid{
  background-color: #25698c;
}
.malay{
  padding: 0 !important;
}
.navbar-nav a {
  color: white !important;
  font-size: 14px;
  padding-left: 30px !important ;
}
.navbar-nav{
  padding-left: 58% !important;
}
.navbar-nav a:hover{
  color: red !important;
}
.blog{
  text-align: center;
  margin-bottom: 60px;
}

.box p{
  margin-top: 15px;
  text-align: left;
}
.amit li{
  line-height: 2;
}
.amit1 i{
font-size: 43px;
  display: block;
  margin-top:30px ; 
}
.amit1{
  text-align: center;
}
.amit{
  background-image: url();
  
}
.container{
  filter: contrast(100%);
}
.container.blog{
  margin-top: 25px;
}
.malay{
  background-color: #8da6aa;
}
.malay li{
  color: white;
}
.malay p{
  color: white;
}
.malay h5{
  color:yellow;
}
.btn{
  margin-left: 111px;
    margin-top: 10px;

}
.box5{
margin-top: 22px;
}
.malay h4{
  text-align: center;
  font-size: 18px;
}